{% extends "layout.html" %}
{% block content %}
    <h1> Material will be provided here.</h1>
    <div class="container border-top mt-3">
        <div class="row mt-5">
            <a href="https://drive.google.com/file/d/1RtChoLMYZAfQ1UaCEUvGWw7PIilF8812/view?usp=sharing"><h3> <i class="fas fa-book-open"></i> Test Papers</h3></a>
        </div>
        <div class="row">
            <li class="nav-item dropdown" style="list-style-type:none;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h3><i class="fab fa-buffer"></i> 1st Semester</h3>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Maths</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Chemistry</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Electrical</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Thermodynamics</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> EVS</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Engg. Graphics</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Computer Lab</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Chemistry Lab</a>
            </li>
        </div>
        <div class="row">
                <li class="nav-item dropdown" style="list-style-type:none;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h3><i class="fab fa-buffer"></i> 2nd Semester</h3>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Maths</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> SOM</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Electronics</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Physics</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Mechanics</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> English</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Manufacturing Lab</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i> Physics Lab</a>
                    </div>
                </li>
            </div>
    </div>
{% endblock content %}