{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}"></img>
            <div class="media-body mb-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <a class="no-color mr-3" href="{{ url_for('messages', user_id=user.id,current_user_id=current_user.id )}}"><button type="button" class="btn btn-outline-info btn-sm mt-3">Message</button></a>
                {% if is_connected%}
                    <button type="button" class="btn btn-outline-danger btn-sm mt-3"><a class="no-color white-hover" href="{{ url_for('connections', user_id = user.id) }}">Disconnect</a></button>
                {% else %}
                    <button type="button" class="btn btn-outline-success btn-sm mt-3"><a class="no-color white-hover" href="{{ url_for('connections', user_id = user.id) }}">Connect</a></button>
                {% endif %}
            </div>
        </div>
        <div class="row border-top border-bottom justify-content-between">
            <div class="col" style="text-align: center;">
                <div>
                    <a class="no-color" href="{{ url_for('user_posts', username=user.username) }}"><span><strong>{{posts_count}}</strong><br> posts</span></a>
                </div>
            </div>
            <div class="col" style="text-align: center;">
                <div>
                    <a class="no-color" href="{{ url_for('user_list', content='connections', id=user.id) }}"><span><strong>{{connections}}</strong><br> connections</span></a>
                </div>  
            </div>
        </div>       
    </div>

    </div>

{% endblock content %}